<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>{{ _target.title }} - {{ _config.project.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/styles/main.css' | path }}"/>
  </head>
  <body>
    {{ yield }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ '/assets/scripts/jquery.js' | path }}"><\/script>')</script>
    <script src="{{ '/assets/scripts/vendor.js' | path }}"></script>
    <script src="{{ '/assets/scripts/main.js' | path }}"></script>
  </body>
</html>
